---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thanks">
    <main>
        <section>
            <div class="py-8 px-4 mx-auto max-w-screen-md text-center lg:py-16 lg:px-12">
                <div class="w-12 h-12 rounded-full bg-green-100 dark:bg-green-300 p-2 flex items-center justify-center mx-auto mb-3.5">
                    <svg aria-hidden="true" class="w-8 h-8 text-green-500 dark:text-green-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Success</span>
                </div>
                <h1 class="mb-4 text-4xl font-bold tracking-tight leading-none text-gray-900 lg:mb-6 md:text-5xl xl:text-6xl dark:text-white">Thanks for the message 🎉</h1>
                <p class="font-light text-gray-500 md:text-lg xl:text-xl dark:text-gray-400">I'll get back to you as soon as I can, but please be patient!</p>
            </div>
        </section>
    </main>
</Layout>
